@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  font-size: 10px; }

body {
  font-family: "Bitter"; }

a, button {
  font-family: "Montserrat"; }

a {
  color: #000;
  text-decoration: none; }

h1, h2, h3 {
  font-family: "Patua One"; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.5rem; }

body {
  font-size: 1.8rem; }

nav ul, .row, .magic .activities-row, .result-row, .storyline .story-row, .community .container .people-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

header, header .container, .chill-intro .container, .row .chill-block, .magic .activities-row .activities_block, .storyline .container, .community .container, .community .container .people-row .person-block, footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }

.magic .container, form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

header, header .container, .chill-intro .container, .row .chill-block, .magic .activities-row .activities_block, .storyline .container, .community .container, .community .container .people-row .person-block, footer {
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

h1,
h2,
h3,
p,
a {
  margin: 0; }

.page-wrap {
  overflow: hidden; }

nav {
  background: #34A0AF;
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  @media all and (max-width: 450px) {
    nav {
      top: 0;
      bottom: 0;
      transform: translateX(-100%);
      transition: 0.5s all cubic-bezier(0.2, 0.1, 0.4, 0.7); } }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media all and (max-width: 450px) {
      nav ul {
        -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
        nav ul li {
          padding: 10px 15px; } }
    nav ul li a {
      color: #fdfdfd;
      text-transform: uppercase;
      transition: .3s all ease-in-out;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #34A0AF; }
      nav ul li a:hover {
        border-bottom-color: #fdfdfd; }

.outside-toggle {
  color: #fdfdfd;
  background: #34A0AF;
  position: fixed;
  left: 0;
  right: 0;
  padding: 8px 15px; }
  @media all and (min-width: 450px) {
    .outside-toggle {
      display: none; } }

#menu-toggle {
  display: none; }
  #menu-toggle:checked + nav {
    transform: translateX(0); }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background: url("../../images/street-hero.jpg") no-repeat center top/cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.8);
  color: #fdfdfd;
  padding: 300px 0; }
  header .container {
    text-align: center; }

.chill-intro {
  background: #dbf6fa;
  padding: 100px 0; }
  .chill-intro .container {
    text-align: center; }
    .chill-intro .container p {
      text-align: center;
      margin: 20px 0;
      max-width: 60%; }

.row {
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media all and (max-width: 780px) {
    .row {
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; } }
  .row .chill-block {
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    margin: 10px; }
    .row .chill-block img {
      width: 100%;
      transition: 0.4s all cubic-bezier(0.2, 0.1, 0.4, 0.7); }
    .row .chill-block h3 {
      margin: 10px 0; }

.magic {
  background: url("../../images/beach.jpg") no-repeat center top/cover;
  background-position: center 60%;
  padding: 50px 0; }
  .magic .container {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
    @media all and (max-width: 870px) {
      .magic .container h1 {
        text-align: center;
        font-size: 3.9rem; } }
  .magic .activities-row {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 35px 0; }
    @media all and (max-width: 870px) {
      .magic .activities-row {
        -ms-flex-item-align: center;
        align-self: center;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap; } }
    .magic .activities-row .activities_block {
      height: 200px;
      background: url("../../images/icons/heart.png") no-repeat -100px center/35%, url("../../images/date.jpg") no-repeat center top/cover;
      box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.8);
      color: #fdfdfd;
      -ms-flex: 1;
      flex: 1;
      margin: 10px;
      overflow: hidden;
      transition: .3s all ease-in-out; }
      @media all and (max-width: 870px) {
        .magic .activities-row .activities_block {
          -ms-flex: 1;
          flex: 1;
          width: 300px; } }
      .magic .activities-row .activities_block h3 {
        transition: .3s all ease-in-out; }
      .magic .activities-row .activities_block:hover {
        box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.1);
        background: url("../../images/icons/heart.png") no-repeat center center/35%, url("../../images/date.jpg") no-repeat center top/cover; }
        .magic .activities-row .activities_block:hover h3 {
          opacity: 0; }
  @media all and (max-width: 870px) {
    .magic .result-row {
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0 25px; }
      .magic .result-row iframe {
        display: none; } }

form input,
form textarea {
  border: 1px solid #34A0AF;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 8px 13px;
  margin: 2px 0;
  opacity: .5; }
  form input:focus,
  form textarea:focus {
    outline: none;
    box-shadow: 0 1px 1px #34A0AF; }

form textarea {
  resize: none;
  margin-bottom: 10px; }

form button {
  border: none;
  background: #34A0AF;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px 18px;
  text-transform: uppercase;
  transition: 0.5s all cubic-bezier(0.9, 0.8, 0.6, 0.2); }
  form button:focus {
    outline: none; }
  form button:hover {
    background: #113439;
    color: #34A0AF; }

.result-row {
  padding: 50px 0;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }
  .result-row iframe {
    -ms-flex: 1 0 65%;
    flex: 1 0 65%; }
  .result-row .instructions {
    -ms-flex: 0 1 35%;
    flex: 0 1 35%;
    padding: 0 20px;
    text-align: center; }

.storyline {
  background: #dbf6fa;
  padding: 50px 0; }
  .storyline .story-row {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 50px 0; }
    @media all and (max-width: 870px) {
      .storyline .story-row {
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0 25px; }
        .storyline .story-row p {
          padding: 25px; } }
    .storyline .story-row .story-img {
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      margin: 0 10px; }
      .storyline .story-row .story-img img {
        width: 100%; }
    .storyline .story-row p {
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; }

.community {
  padding: 50px 0;
  background: url("../../images/people-hockey.jpg") no-repeat center top/cover; }
  @media all and (max-width: 870px) {
    .community .container h1 {
      text-align: center;
      font-size: 4.2rem;
      padding: 0 15px; } }
  .community .container .people-row {
    padding: 50px 0; }
    .community .container .people-row .person-block:nth-child(1) {
      background: url("../../images/jill.png") no-repeat center top/cover; }
    .community .container .people-row .person-block:nth-child(2) {
      background: url("../../images/jim.png") no-repeat center top/cover; }
    .community .container .people-row .person-block:nth-child(3) {
      background: url("../../images/john.png") no-repeat center top/cover; }
    .community .container .people-row .person-block:nth-child(4) {
      background: url("../../images/jenny.png") no-repeat center top/cover; }
    @media all and (max-width: 870px) {
      .community .container .people-row {
        -ms-flex-flow: column wrap;
        flex-flow: column wrap; } }
    .community .container .people-row .person-block {
      color: #fdfdfd;
      height: 300px;
      -ms-flex: 1;
      flex: 1;
      background: url("../../images/jill.png") no-repeat center top/cover;
      box-shadow: inset 0 0 1000px rgba(52, 160, 175, 0.8);
      margin: 0 10px;
      text-align: center;
      overflow: hidden; }
      .community .container .people-row .person-block:hover > p {
        transform: translateY(0); }
      .community .container .people-row .person-block h3 {
        margin-bottom: auto;
        padding: 10px 0; }
      .community .container .people-row .person-block p {
        margin-bottom: auto;
        transition: 0.2s all cubic-bezier(0.2, 0.1, 0.4, 0.7);
        transform: translateY(200px); }

footer {
  background: #000;
  color: #fdfdfd;
  padding: 50px 0;
  text-align: center; }
