@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  font-size: 10px; }

body {
  font-family: "Bitter"; }

a, button {
  font-family: "Montserrat"; }

a {
  color: #000;
  text-decoration: none; }

h1, h2, h3 {
  font-family: "Patua One"; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.5rem; }

body {
  font-size: 1.8rem; }

nav ul, .row, .magic .activities-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

header, header .container, .chill-intro .container, .row .chill-block, .magic .activities-row .activities_block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }

header, header .container, .chill-intro .container, .row .chill-block, .magic .activities-row .activities_block {
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

h1, h2, h3, p, a {
  margin: 0; }

.page-wrap {
  overflow: hidden; }

nav {
  background: #34A0AF;
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  @media all and (max-width: 450px) {
    nav {
      top: 0;
      bottom: 0;
      transform: translateX(-100%);
      transition: 0.5s all cubic-bezier(0.2, 0.1, 0.4, 0.7); } }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media all and (max-width: 450px) {
      nav ul {
        -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
        nav ul li {
          padding: 10px 15px; } }
    nav ul li a {
      color: #fdfdfd;
      text-transform: uppercase;
      transition: .3s all ease-in-out;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #34A0AF; }
      nav ul li a:hover {
        border-bottom-color: #fdfdfd; }

.outside-toggle {
  color: #fdfdfd;
  background: #34A0AF;
  position: fixed;
  left: 0;
  right: 0;
  padding: 8px 15px; }
  @media all and (min-width: 450px) {
    .outside-toggle {
      display: none; } }

#menu-toggle {
  display: none; }
  #menu-toggle:checked + nav {
    transform: translateX(0); }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background: url("../../images/street-hero.jpg") no-repeat center top/cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.8);
  color: #fdfdfd;
  padding: 300px 0; }
  header .container {
    text-align: center; }

.chill-intro {
  background: #dbf6fa;
  padding: 100px 0; }
  .chill-intro .container {
    text-align: center; }
    .chill-intro .container p {
      text-align: center;
      margin: 20px 0;
      max-width: 60%; }

.row {
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media all and (max-width: 780px) {
    .row {
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; } }
  .row .chill-block {
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    margin: 10px; }
    .row .chill-block img {
      width: 100%;
      transition: 0.4s all cubic-bezier(0.2, 0.1, 0.4, 0.7); }
    .row .chill-block h3 {
      margin: 10px 0; }

.magic {
  background: url("../../images/beach.jpg") no-repeat center top/cover;
  padding: 50px 0; }
  .magic .activities-row {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .magic .activities-row .activities_block {
      height: 200px;
      background: url("../../images/date.jpg") no-repeat center top/cover;
      -ms-flex: 1;
      flex: 1;
      margin: 10px; }
