@import 'fonts';

//Fonts

$body-font: 'Bitter';
$headings-font: 'Patua One';
$links-font: 'Montserrat';

//Sizings

$font-size-large: 6rem;
$font-size-medium: 4rem;
$font-size-small: 3.5rem;
$font-size-default: 1.8rem;

//colors

$blue-500: #34A0AF;
$blue-400: #56BFCD;
$blue-300: #7FD7E3;
$blue-200: #AFEBF3;

$grey-400:  #c7c7c7;
$grey-300: #F7F8FA;

$white-500: #fdfdfd;

